<ion-view view-title="postSurvey">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Sample Survey</h1>
    </ion-header-bar>
    <ion-content>
        <div id="feedback-prompt" class="card">
            <div class="item item-divider">
                Thanks for completing the questionnaire!
            </div>
            <div class="item item-text-wrap">
                Help us improve the experience! We would love to hear from you!
            </div>
        </div>
        <button id="send-feedback-button" class="button button-calm" ng-click="sendFeedbackEmail()">Tell us what you think!</button>
        <div class="horizontal_center">
            <button id="exitButton" class="button button-calm" ng-click="setupButtonOnClick()">Exit</button>
        </div>
        <div id="post-feedback-msg" class="card">
            <div class="item item-text-wrap">
                Thank you for your feedback!
            </div>
        </div>
    </ion-content>
</ion-view>