<ion-view view-title="Consent">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Informed Consent</h1>
    </ion-header-bar>

    <ion-content>

        <div id="welcome-prompt" class="card">
            <div class="item item-divider">
                Inportant consent information for participation:
            </div>

            <div class="item item-text-wrap">

                <p>
                    <b>
                        SAMPLE CONSENT FORM: this is a demonstration version of the application and no data will be
                        collected.
                    </b>
                </p>
                <br>
                <p>
                    <b>Dear Participant,</b>
                </p>
                <br>
                <p>
                    Thank you very much for participating in this study!
                </p>


                <p> You have been asked Dr. Catherine Ortner of the Department of Psychology of Thompson Rivers
                    University, telephone number 250 828 5497, to participate in a research
                    project entitled ERA, which encompasses the following:
                </p>
                <br>

                <p>
                    The purpose of the project is to assess how people regulate their emotions in every day
                    life. You will be rating your feelings and use of emotion regulation strategies several times
                    during the day. In addition, you will fill out some questionnaires assessing your values and well-
                    being. Your answers will help us to find out in what ways people prefer to respond in different
                    emotional situations.
                </p>
                <br>

                <p>
                    This information is not looked at by individual answers. Instead, each
                    person’s answers are combined with those of all other participants. You will be reading about
                    some emotionally evocative situations of the type that could occur in everyday life, but there is
                    no discomfort or distress anticipated from your participation in the study.
                    Your answers will be kept completely anonymous and strictly confidential. All your
                    answers will be analyzed anonymously on an aggregated level (i.e., over all answers from all
                    participants taken together). We will at no point in time analyze your individual responses and
                    responses will not be identified by the individual. Aggregate data may be presented at a
                    conference or published in a journal.
                </p>
                <br>

                <p>
                    The completed surveys will be stored in a locked filing
                    cabinet in the researcher’s office for seven years, after which they will be shredded.
                </p>
                <br>

                <p>
                    You may refuse to participate or withdraw your participation in this project at any time
                    without any negative consequences. Your involvement or non-involvement in this project is in
                    no way related to your status as a student. If you wish to withdraw, leave the questionnaires
                    blank. If you withdraw, any data collected will be discarded.

                </p>
                <br>

                <p>
                    You may ask any questions or register any complaint you might have about the project
                    with either the chief researcher named above or with the Dean of Arts, TRU (250-828-5000).</p>
                <br>

                <p>
                    If you have any questions or issues concerning this project that are not related to the specifics of
                    the research, you may also contact the Chair of the Research Ethics Board – Human Participants
                    (250-828-5000).
                </p>
                <br>

                <p>

                    Copies of the results of this study, upon its completion, may be obtained by emailing the
                    investigator, Dr. Catherine Ortner at cortner@tru.ca.
                </p>
                <br>

                <p>

                    We appreciate your effort and help in completing this questionnaire. To begin, please
                    continue. Your completion of the surveys constitutes your consent to participate in the study.

                </p>
                <br>

                <p>
                    <b>Thank you very much for your time and cooperation.</b>
                </p>
                <div id="accept-container">
                    <button id="declineButton" class="button button-calm" ng-click="consentDeclineButtonOnClick()">
                        Decline
                    </button>
                    <button id="acceptButton" class="button button-calm" ng-click="consentAcceptButtonOnClick()">
                        Accept
                    </button>
                </div>


            </div>

        </div>


        <!--&lt;!&ndash;Test button to go to after survey &ndash;&gt;-->
        <!--<button class="button button-calm horizontal_center" ui-sref="afterSurvey">Test</button>-->

        <!-- Additional button to access email feedback without survey, for testing-->
        <!-- <button class="button button-calm" ui-sref="afterSurvey">Test Feedback</button> -->
    </ion-content>
</ion-view>