<ion-view view-title="Home">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Home</h1>
    </ion-header-bar>

    <ion-content>

        <div id="welcome-prompt" class="card">
            <div class="item item-divider">
                Welcome!
            </div>
            <div class="item item-text-wrap">
                Thanks for helping test ERA! None of your responses will be saved or collected in this beta version of the app. After the survey, you'll have the opportunity to let us know what you thought about the app. Your input will help us make ERA better and improve the user interface.
                Tap the button below to begin.
            </div>
        </div>

        <button class="button button-calm horizontal_center" ui-sref="survey">Start Survey</button>

        <!-- Additional button to access email feedback without survey, for testing-->
        <!-- <button class="button button-calm" ui-sref="afterSurvey">Test Feedback</button> -->
    </ion-content>
</ion-view>