<ion-view view-title="Demographics">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Location Selection</h1>
    </ion-header-bar>

    <ion-content>

        <div class="list list-inset">

            <form name="selectlocationform" ng-controller="locationSelectController">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Where are you currently?
                    </div>
                    <select id="locSelect" required ng-model="selectedLocation">
                        <option>{{locations._1}}</option>
                        <option>{{locations._2}}</option>
                        <option>{{locations._3}}</option>
                        <option>{{locations._4}}</option>
                    </select>
                </label>
                <button style="margin-top: 10px" ng-disabled="selectlocationform.$invalid"
                        class="button button-calm horizontal_center continueButton"
                        ng-click="locationSelectSubmitButtonOnClick()">Begin
                </button>
            </form>

        </div>

    </ion-content>

</ion-view>