<ion-view view-title="Setup">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Set-Up</h1>
    </ion-header-bar>

    <ion-content>

        <div id="setup-button-container" class="horizontal_center">
            <button id="consentButton" class="button button-calm" ng-click="consentButtonOnClick()">Consent</button>
            <button id="scheduleButton" class="button button-calm" ng-click="" >Schedule</button>
            <button id="locationsButton" class="button button-calm" ng-click="" >Locations</button>
            <button id="notifications" class="button button-calm" ng-click="">Notifications</button>
            <br>
            <button id="setupBackButton" class="button button-calm horizontal_center" ui-sref="home">Back</button>

        </div>

    </ion-content>
</ion-view>