<ion-view view-title="SurveyItem">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Sample Survey</h1>
    </ion-header-bar>

    <ion-content ng-controller="surveyCtrl" scroll="false">
        <!--Question items presented here-->
        <div class="survey-card" class="horizontal_center" >
            <p id="question-text">{{questions[questionIndex].question}}</p>
        </div>

        <!--Scale-->
        <div id="scale-container" class="horizontal_center">
            <!-- scale for 0-5 -->
            <div ng-if="questions[questionIndex].scale =='0-5'">
                <a ng-repeat="i in provideScaleArray(questions[questionIndex].scale) track by $index"
                   id="{{$index}}"
                   ngSelected=""
                   class="itembutton button"
                   scale-directive>
                    {{$index}}
                </a>
            </div>
            <!-- scale for 1-9-->
            <div ng-if="questions[questionIndex].scale =='1-9'">
                <p>1-9 scale</p>
                <a ng-repeat="i in provideScaleArray(questions[questionIndex].scale) track by $index"
                   id="{{$index}}"
                   ngSelected=""
                   class="itembutton button"
                   scale-directive>
                    {{$index+1}}
                </a>
            </div>
        </div>

        <!-- Anchor points -->
        <div id="anchor-container" class="horizontal_center">
            <p> 0 = {{questions[questionIndex].lowanchortext}}</p>
            <p ng-if="questions[questionIndex].midanchortext != ''"> {{findMiddleIndex()}} = {{questions[questionIndex].midanchortext}}</p>
            <p> {{questions[questionIndex].scale.substr(2,1)}} = {{questions[questionIndex].highanchortext}}</p>

        </div>


        <!-- Navigation -->
        <button class="button button-calm" style="display:none" id="nextButton" ng-click="nextClick()">
         Next
        </button>

    </ion-content>
</ion-view>