<ion-view view-title="SurveyItem">
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title">Sample Survey</h1>
    </ion-header-bar>

    <ion-content ng-controller="surveyCtrl" scroll="false">
        <!--Question items presented here-->
        <div class="survey-card" class="horizontal_center" >
            <p id="question-text">{{questions[questionIndex].question}}</p>
        </div>

        <!--Scale-->
        <div id="scale-container" class="horizontal_center">

            <div class="scale-item"
                 ng-repeat="i in provideScaleArray(questions[questionIndex].scale) track by $index">
                <!-- Scale Button -->
                <a id="{{$index}}"
                   ngSelected=""
                   class="itembutton button"
                   scale-directive>
                   {{$index}}
                </a>
                <!--Anchor Points -->
                <p ng-if="$first" id="lowanchor" class="anchor-point">{{questions[questionIndex].lowanchortext}}</p>
                <p ng-if="$last" id="highanchor" class="anchor-point">{{questions[questionIndex].highanchortext}}</p>
                <p ng-if="($index == findMiddleIndex()) && questions[questionIndex].midanchortext != ''" id="midanchor" class="anchor-point">{{questions[questionIndex].midanchortext}}</p>
            </div>

        </div>


        <!-- Navigation -->
        <button class="button button-calm" style="display:none" id="nextButton" ng-click="nextClick()">
         Next
        </button>

    </ion-content>
</ion-view>