/* borderless button for survey item */
.itembutton {
    border-width: 0px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    min-width: 45px;
}

/* selected survey item */
.selecteditembutton {
    border-width: 5px;
    border-color: #11c1f3;
    border-radius: 50%;
    background-color: transparent;
}

#nextButton {
    position:fixed;
    bottom: 10vh;
    right: 10vh;
    z-index: 1;
}

.horizontal_center {
    /* for horizontal_center class */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* card holds question in survey view*/
.survey-card {
    margin: 10px;
    padding: 5px;
}

#question-text {
    text-align: center;
}

#anchor-container {
    position: fixed;
    bottom: calc(20vh + 50px);
    width: 100%
}

/* anchor points */
#lowanchor {
    position: absolute;
    display: inline;
    left: 5px;
}

#highanchor {
    position: absolute;
    display:inline;
    right: 5px;
}

.tabs-calm {
    position: fixed;
    bottom: 0px;
}

#send-feedback-button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
}

#post-feedback-msg {
    display: none;
}
