.button {
    margin-left: 2px;
    margin-left: 2px;
}

/* borderless button for survey item */
.itembutton {
    border-width: 0px;
    background-color: transparent;
    border-radius: 50%;
}

/* selected survey item */
.selecteditembutton {
    border-width: 5px;
    border-color: #11c1f3;
    border-radius: 50%;
    background-color: transparent;
}

.horizontal_center {
    /* for horizontal_center class */
    text-align: center; /* text aligning to the center */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#scaleContainer {
    margin: 5px;
}

/* card holds question in survey view*/
.survey-card {
    margin: 10px;
    padding: 10px;
}

.tabs-calm {
    position: fixed;
    bottom: 0px;
}

#send-feedback-button {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;
}

#post-feedback-msg {
    display: none;
}